@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    display: flex;
    padding: theme('spacing.4');
    border-radius: 0 0 theme('spacing.4') theme('spacing.4');
    color: #464648;
    flex-direction: row;
    gap: theme('spacing.2');
    /* flex: 1 1 grow; */
    height: theme('spacing.16');
    align-items: center;
  }

  .element {
    border: black solid 1px;
    text-align: center;
    transition: all 0.5s;
    transform-style: preserve-3d;
    background-color: transparent;
  }

  html {
    width: 100%;
    height: 100%;
  }

  .element-inner>p {
    margin-bottom: 0;
  }

  .element-back>p {
    margin-bottom: 1px;
  }

  .element:hover {
    transform: rotateY(180deg);

  }

  .element-inner,
  .element-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .element-inner {
    background-color: #bbb;
    color: black;
  }

  .element-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    overflow-wrap: break-word;
  }


  .nonmetal {
    background-color: #AB91FF;
  }

  .halfmetal {
    background-color: #92FF9F;
  }

  .metal {
    background-color: #ECFF91;
  }
  .next-step {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEEE;
    color: #464648;
    font-weight: bold;
    border-radius: 100%;
    border: 2px solid #909093;
    width: 2.5rem;
    height: 2.5rem;
  }
  .next-step {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEEE;
    color: #464648;
    font-weight: bold;
    border-radius: 100%;
    border: 2px solid #909093;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.2s all;
  }
  .curr-step {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909093;
    border: 2px solid #909093;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.5s all;}
  /* ... */

  .clip-t{
    clip-path: inset(0px -10px -10px -10px);
  }
  .clip-tl{
    clip-path: 0px -10px -10px 0px;
  }

  .cl-disabled{
    pointer-events: none;
    cursor:default;
    color:#909093
  }
  
}
.shadow-sm{
  box-shadow: 0 1px 2px 0 #222;
}