@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    display: flex;
    padding: theme('spacing.4');
    border-radius: 0 0 theme('spacing.4') theme('spacing.4');
    color: #464648;
    flex-direction: row;
    gap: theme('spacing.2');
    /* flex: 1 1 grow; */
    height: theme('spacing.16');
    align-items: center;
  }

  .element {
    font-family: Arial;
    border: silver solid 2px;
    box-shadow: 2px 3px #2e2e2e;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
    transform-style: preserve-3d;
    background-color: transparent;
  }

  .element-inner>p{
    margin-bottom: 0;
}

.element-back>p{
    margin-bottom: 1px;
}

.element:hover{
    transform: rotateY(180deg);

}
.element-inner, .element-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.element-inner {
    background-color: #bbb;
    color: black;
  }
.element-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    overflow-wrap: break-word;
}


.nonmetal{
    background-color: #2980b9;
}
.halfmetal{
    background-color: #16c783;
}
.metal{
    background-color: #c09402;
}
  /* ... */
}